{% extends "base.html" %}

{% block title %}
About - MindSphere
{% endblock %}

{% block content %}

<!-- AboutUs start -->
<section id="about-us" class="py-5 mt-2">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="fw-bold text-primary">ABOUT US</h2>
                <p class="mt-3 text-justify">
                    We are <span class="text-primary fw-bold">MindSphere</span>, a leader in <span class="text-primary fw-bold">psychological</span> assessments and mental health services, dedicated to providing individuals and organizations with accurate and reliable psychological insights. Founded in 2024, our mission is to empower individuals by offering personalized mental health assessments that foster a deeper understanding of emotional well-being.
                </p>
                <p class="mt-3 text-justify">
                    Our services cater to a wide range of needs, from mental health screenings to tailored psychological tests, all backed by <span class="text-primary fw-bold">cutting-edge technology</span>. We partner with professionals and organizations across various sectors to offer customized solutions that align with industry standards and promote overall mental wellness.
                </p>
                <p class="mt-3 text-justify">
                    At MindSphere, we believe in the power of early detection and proactive mental health management. Our goal is to support individuals in their journey towards self-awareness and long-term emotional <span class="text-primary fw-bold">well-being</span>, enabling them to thrive in both personal and professional settings.
                </p>
            </div>

            <div class="col-lg-6">
                <h2 class="fw-bold text-primary">VISION & MISSION</h2>
                <h4 class="mt-3 fw-bold">Vision</h4>
                <p class="mt-2 text-justify">
                    To be the leading platform in psychological assessments, empowering individuals and organizations to understand and optimize their mental well-being, creating a world where emotional intelligence and self-awareness shape brighter futures.
                </p>

                <h4 class="mt-4 fw-bold">Mission</h4>
                <ol type="1" class="mt-2 text-justify ps-3">
                    <li>
                        Provide accessible, accurate, and personalized psychological testing and assessments that foster emotional well-being and self-awareness.
                    </li>
                    <li>
                        Support individuals and organizations in building healthier, more productive environments by offering insights and recommendations that enhance mental resilience and emotional intelligence.
                    </li>
                    <li>
                        Encourage proactive mental health management, empowering people to identify potential challenges early and take control of their emotional health for a better future.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- AboutUs end -->

<!-- WhyChooseUs start -->
<section id="solutions" class="py-5 bg-light">
    <div class="container py-5">
        <h2 class="text-center fw-bold text-primary">SOLUTIONS</h2>
        <p class="lead mb-5 text-secondary text-center"><i>Why Choose MindSphere?</i></p>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-user-graduate text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Professionals</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Skilled and experienced team of psychologist experts.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-microchip text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Cutting-Edge Technology</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Advanced tools for precise psychological assessments.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-users text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Customer-Centered</h5>
                    <p class="card-text py-3 text-secondary text-center">
                        Dedicated to personalized, quality care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WhyChooseUs end -->


{% endblock %}